$primary-background : #1E171D;
$secundary-background : #181518;

$primary-normal : #12822B;
$primary-light : #39FF65;
$primary-dark : #034B13;

$secondary-normal: #1BD845;
$secondary-light: #6DFF8E;
$secondary-dark: #012409;


//Neutral Colors
$white-normal: #F2F9FA;
$white-light : #F5FCFD;
$white-dark : #eef2f3;

$black-normal: #232224;
$black-ligh : #353436;
$black-dark : #161617;


//Gray Scale
$gray-1: #303030;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;


// Auxiliary Colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #32d957;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;

$gradient-background: linear-gradient(45deg, #0E591E, #199F37);