.hero-container{
    width: 100%;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive(s){
        flex-direction: column;
        justify-content: center;
        padding: 12px 24px;
        gap: 24px;
    }

    @include responsive(l){
        gap: 64px;
    }


    .container-text{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include responsive(s){
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        .row1{
            h2{
                display: flex;
                gap: 8px;
                align-items: center;
                color: #D5D3D0;
                font-family: Montserrat;
                font-size: 24px;
                font-weight: 900;
                text-transform: uppercase;
                @include responsive(s){
                    text-align: center;
                    font-size: 16px;
                }
            }
            img{
                width: 24px;
                height: 24px;
            }
        }

        .row2{
            display: flex;
            gap: 48px;
            @include responsive(s){
                flex-direction: column;
            }

            h1{
                color: $white-normal;
                font-family: Montserrat;
                font-size: 130px;
                font-weight: 900;
                line-height: 110px;
                text-transform: uppercase;

                @include responsive(s){
                    text-align: center;
                    font-size: 55px;
                    line-height: 60px;
                }

                @include responsive(l){
                    font-size: 110px
                }
            }

            .container-links{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
                @include responsive(s){
                    display: none;
                }

                img{
                    position: relative;
                    transition: 0.1s ease;
                    &:hover{
                        transform: scale(1.2);
                        filter: invert(35%) sepia(100%) saturate(600%) hue-rotate(85deg) brightness(95%) contrast(90%);                    }
                }
            }
        }

        .row3{
            h1{
                color: $white-normal;
                font-family: Montserrat;
                font-size: 130px;
                font-weight: 900;
                line-height: 110px;
                text-transform: uppercase;

                @include responsive(s){
                    text-align: center;
                    font-size: 55px;
                    line-height: 60px;
                }

                @include responsive(l){
                    font-size: 110px
                }
            }
        }

        .row4{
            width: 92%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @include responsive(s){
                width: 100%;
                justify-content: center;
            }

            p{
                padding-top: 8px;
                padding-right: 20px;
                text-align: justify ;
                width: 48%;
                color: #D5D3D0;
                
                @include responsive(s){
                    width: 100%;
                    text-align: center;
                }
            }

            span{
                font-weight: bold;
                color: $white-dark;
            }
        }
    }

    .container-card{
        perspective: 800px;
        padding: 24px;

        .card{
            width: 304px;
            height: 480px;
            background-color: red;
            border-radius: 1rem;
            transform-origin: center center;
            transform-style: preserve-3d;
        
            background-color: $primary-normal;
        
            animation: flip-card 6s linear infinite alternate, 
            change-bg-card 6s linear infinite alternate ;
            z-index: -1;
        }
    }
}

@keyframes flip-card{
    0%{
        transform: rotateX(-20deg) rotateY(10deg);
    }
    40%{
        transform: rotateX(0deg) rotateY(30deg);
    }
    60%{
        transform: rotateX(190deg) rotateY(25deg);
    }100%{
        transform: rotateX(190deg) rotateY(5deg);
    }
}

@keyframes change-bg-card {
    0%, 49% {
        background-image: url('/src/assets/img/Frame3.svg');
        background-size: cover;
    }
    50%, 100% {
        background-image: url('/src/assets/img/Frame5.svg');
        background-size: cover;
    }
}